@model Tovar
@using EleWise.ELMA.ConfigurationModel
@using System;
@using EleWise.ELMA.Extensions

@{
    if (!Model.Data.HasValue)
    {
        @(string.Empty)
    }
    else
    {
        var now = DateTime.Now;
        var days = (Model.Data.Value - now).Days;
        var dateLabel = Model.Data.Value.ToShortDateString();
        var required = !((int)Model.StatusNew == 4 || (int)Model.StatusNew == 5);

        if (required && days >= 1 && days < 14)
        {
            <div style="background-color: yellow" id="ColoredDate+@Model.Id">
                @dateLabel
            </div>
        }
        else if (required && days <= 1)
        {
            <div style="background-color: lightpink" id="ColoredDate+@Model.Id">
                @dateLabel
            </div>
        }
        else
        {
            <div id="ColoredDate+@Model.Id">
                @dateLabel
            </div>
        }
    }
}
