@model Tovar
@using EleWise.ELMA.ConfigurationModel
@using System;
@using EleWise.ELMA.Extensions

@{
    if (!Model.Data.HasValue)
    {
        @(string.Empty)
    }
    else
    {
        var now = DateTime.Now;
        var days = (Model.Data.Value - now).Days;
        var dateLabel = Model.Data.Value.ToShortDateString();
        var required = !(Model.Status.Id == 102 || Model.Status.Id == 4);

        if (required && days >= 1 && days < 14)
        {
            <div style="background-color: yellow" id="ColoredDate+@Model.Id">
                @dateLabel
            </div>
        }
        else if (required && days <= 1)
        {
            <div style="background-color: lightpink" id="ColoredDate+@Model.Id">
                @dateLabel
            </div>
        }
        else
        {
            <div style="background-color: white" id="ColoredDate+@Model.Id">
                @dateLabel
            </div>
        }
    }
}

<script>
    $(document).ready(function () {
        @{
            @:updateDate('@Model.Id');
        }
    })
    function updateDate(productID) {
        var i = 0;
        var element = document.getElementById(productID);
        var dateElement = document.getElementById("ColoredDate+" + productID);
        var count = element.children.count;
        for (i = 0; i < count; i++) {
            alert(element.children[i].innerHTML);
            if (element.children[i].className.includes('prolog-butten')) {
                alert(element.innerHTML);
                alert(dateElement.innerHTML);
                element.children[i].addEventListener('click', function () {
                    var info = { id: productID };
                    $.ajax({
                        type: "POST",
                        url: 'https://elma.prolog.ltd/Prolog.Web/Products/UpdateDate',
                        data: info,
                        success: function (resultData) {
                            dateElement.innerHTML = resultData;
                        },
                        dataType: "html"
                    });

                });
            }
        }
    }
</script>

