@using Prolog.Web
@using EleWise.ELMA
@using EleWise.ELMA.Services
@using EleWise.ELMA.BPM.Web.Common.Extensions
@using EleWise.ELMA.BPM.Web.Common.Models
@using EleWise.ELMA.ConfigurationModel
@using EleWise.ELMA.Web.Mvc.Html
@using System.Collections.Generic
@model GridDataFilter<ITovar>

    <div id="products-portlet-grid">

    <table class="products-filter">
        <td><button class="products-status-filter" onclick="changeState(this)">Без статуса</button></td>
        <td><button class="products-status-filter" onclick="changeState(this)">Принято</button></td>
        <td><button class="products-status-filter" onclick="changeState(this)">Разработка</button></td>
        <td><button class="products-status-filter" onclick="changeState(this)">Производство / Закупка</button></td>
        <td><button class="products-status-filter" onclick="changeState(this)">В наличии</button></td>
        <td><button class="products-status-filter" onclick="changeState(this)">Отгружено / Использовано</button></td>
    </table>
    <br>

    @ProductsGrid(Model)

    </div>

    <script>
	function changeState(element)
	{
		if(element.className == "products-status-filter")
		{
			element.className += " products-status-filter-pushed";
		}
		else
		{
			element.className = "products-status-filter";
        }
        var info = { statusFilter: "111100" };
        $.ajax({
            type: "GET",
            url: 'https://elma.prolog.ltd/Prolog.Web/Products/PortletGrid',
            data: info,
            success: function (resultData) {
                document.getElementById("products-portlet-grid").innerHTML = resultData;
            },
            dataType: "html"
        });
	}
    </script>

    @helper ProductsGrid(GridDataFilter<ITovar> model)
    {
        @(Html.FilterDynamicGrid(model)
            .WithDefaultSettings()
            .Columns(c =>{
                c.For(m => m.Status).Template(m => m.Status != null ? Html.Partial("Portlets/ProductsPortlet/Partial/Status", m):MvcHtmlString.Empty);
                c.For(m => m.Data).Template(m => m.Data != null ? Html.Partial("Portlets/ProductsPortlet/Partial/Date", m) : MvcHtmlString.Empty);
                c.For(m => m.KratkoeNazvanie).Link(m => Url.Action("ViewItem", "Catalogs", new { area = "EleWise.ELMA.BPM.Web.Common", uid = "f5017415-8d76-4d5d-a1d1-89eb73b69c74", id = m.Id}));})
            .DefaultColumns()
            .Resizeable(true)
            .Reorderable(true)
            .Action("PortletGrid"))
    }
