@using Prolog.Web
@using Prolog.Web.Models
@using EleWise.ELMA
@using EleWise.ELMA.Model.Common
@using EleWise.ELMA.ConfigurationModel
@model ProductsPortletModel

<div class="products-filter-help">
    <input type="image" src="https://elma.prolog.ltd/Modules/Prolog.Web/Images/x24/help.png" onclick="openDocumentation(this)" alt="Кнопка «input»">
</div>

<div class="products-filter-wrap">
    <table class="products-filter">
        <tr>
            @foreach (var s in Enum.GetValues(ProductStatus.New.GetType()))
            {
                <td>
                    <button class="products-status-filter" onclick="changeState(this)">@ModelHelper.GetEnumDisplayName(s)</button>
                </td>
            }
        </tr>
    </table>
    <br>
</div>

<div id="products-portlet-grid" class="loaded">

    @Html.Action("PortletGrid", "Products", new { area = RouteProvider.AreaName, statusFilter = "0", filterId = 8501 })

</div>

<script>
    function changeState(element) {
        if (element.className == "products-status-filter") {
            element.className += " products-status-filter-pushed";
        }
        else {
            element.className = "products-status-filter";
        }

        var filters = $('[class*="products-status-filter"]');
        var i = 0;
        var s = "";

        for (i = 0; i < filters.length; i++) {
            if (filters[i].className.includes("pushed")) {
                s += "1";
            }
            else {
                s += "0";
            }
        }

        var info = { statusFilter: s, filterId: 8501 };
        $.ajax({
            type: "GET",
            url: 'https://elma.prolog.ltd/Prolog.Web/Products/PortletGrid',
            data: info,
            success: function (resultData) {
                $("#products-portlet-grid").stop();
                $("#products-portlet-grid").animate({ opacity: 0 }, 200);
                $("#products-portlet-grid").html(resultData);
                $("#products-portlet-grid").animate({ opacity: 1 }, 200);
            },
            dataType: "html",
        });
    }
    function openDocumentation(element) {
        if (element.innerHTML.includes("iframe")) {
            element.innerHTML = "";
        }
        else {
            element.innerHTML = "<iframe scr=\"/SDK.Action/Preview/View/54b92a3c-30e2-4139-adbb-0cb7b16af6b7/index.html\">Помощь</frame>";
        }
    }
</script>
