@using Prolog.Web
@using Prolog.Web.Models
@using EleWise.ELMA
@using EleWise.ELMA.Services
@using EleWise.ELMA.BPM.Web.Common.Extensions
@using EleWise.ELMA.BPM.Web.Common.Models
@using EleWise.ELMA.ConfigurationModel
@using EleWise.ELMA.Web.Mvc.Html
@using System.Collections.Generic
@model ProductsPortletModel


<table class="products-filter">
    <td><button class="products-status-filter products-status-filter-pushed" onclick="changeState(this)">Без статуса</button></td>
    <td><button class="products-status-filter products-status-filter-pushed" onclick="changeState(this)">Принято</button></td>
    <td><button class="products-status-filter products-status-filter-pushed" onclick="changeState(this)">Разработка</button></td>
    <td><button class="products-status-filter products-status-filter-pushed" onclick="changeState(this)">Производство / Закупка</button></td>
    <td><button class="products-status-filter" onclick="changeState(this)">В наличии</button></td>
    <td><button class="products-status-filter" onclick="changeState(this)">Отгружено / Использовано</button></td>
</table>
<br>

<div id="products-portlet-grid">

    @Html.Action("PortletGrid", "Products", new { area = RouteProvider.AreaName, statusFilter = "111100" })

</div>

<script>
    function changeState(element) {
        if (element.className == "products-status-filter") {
            element.className += " products-status-filter-pushed";
        }
        else {
            element.className = "products-status-filter";
        }

        var filters = $('[class*="products-status-filter"]');
        var i = 0;
        var s = "";

        for (i = 0; i < filters.length; i++) {
            if (filters[i].className.includes("pushed"))  {
                s += "1";
            }
            else {
                s += "0";
            }
        }

        var info = { statusFilter: s };
        $.ajax({
            type: "GET",
            url: 'https://elma.prolog.ltd/Prolog.Web/Products/PortletGrid',
            data: info,
            success: function (resultData) {
                $("#products-portlet-grid").html(resultData);
            },
            dataType: "html",
        });
    }
</script>
