@using EleWise.ELMA
@using Prolog.Web.Portlets
@using EleWise.ELMA.Web.Mvc.Html
@model Prolog.Web.Portlets.ProductsPortletPersonalization

@using (Html.TableForm(EleWise.ELMA.Model.Views.ViewType.Edit))
{
    <tr>
        <td class="captionCell">@SR.T("Ответственный")</td>
        <td>
            @Html.Editor(m => m.Responsible.FullName)
        </td>
    </tr>
}
